body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100dvh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sen', sans-serif;

   
}

.card{
    position: relative;
    width: 16.5%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

}


.container{
    position: absolute;
    width: 80%;
    height: 65%;
    background-color: rgb(255, 255, 255, 0.35);
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.8);
    top: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}


.img-box{
    width: 50%;
    height: 35%;
    background: linear-gradient(#fff, #e0d3d3, #c7c1c1);
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 0;
    margin: 15px;
    
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

#pokemon-id{
    font-size: 1.1rem;
    padding: 7px;
    border-radius: 15px;
    background: linear-gradient(#fff, #e0d3d3, #c7c1c1);
    
}


#pokemon-name{
    text-transform: capitalize;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: bold;
}

#pokemon-type{
    font-size: 1.15rem;
}


.form{
    position: absolute;
    width: 75%;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fff, #e0d3d3, #c7c1c1);
    padding: 5px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.8);
    border-radius: 5px;

}


.input-search{
    background-color: transparent;
    width: 85%; 
    height: 30px;
    border: none;
    outline: none;
    color: #333;
}

::placeholder{
    color: #929090;
}


.form i{
    font-size: 1.05rem;
    cursor: pointer;
}

.buttons{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
   
}

.btn{ 
    width: 40px;
    height: 35px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #e7dbdb;
    transition: .5s ease-in-out;
}

.btn:hover{
    background-color: #bbb3b3;
}

.btn i{
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}

.pokemon_type{
    font-size: 1.15rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    
}